@charset "UTF-8";

body {
    font: 11px 'Lucida Grande', sans-serif;
}

.steptools-content-container {
    color: #eee;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.steptools-view {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.steptools-control {
    position: absolute;
    padding-left: 8px;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

.steptools-control .btn-group {
    float: left;
    margin-right: 15px;
    margin-top: 4px;
}

.steptools-control .btn {
    width: 27px;
    height: 25px;
    padding: 2px 3px;
    margin-right: 0;
    display: inline-block;
}

.steptools-control .btn.active {
    text-decoration: none;
    background: #626262;
    background: -o-linear-gradient(top, #c8c8c8 0%, #626262 100%);
    background: -ms-linear-gradient(top, #c8c8c8 0%, #626262 100%);
    background: -webkit-linear-gradient(top, #c8c8c8 0%, #626262 100%);
    background: -moz-linear-gradient(top, #c8c8c8 0%, #626262 100%);
    background: linear-gradient(top, #c8c8c8 0%, #626262 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8c8c8', endColorstr='#626262',GradientType=0 );
    border-color: #626262;
    text-shadow: 0 0 1px #000;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.steptools-control .steptools-logo-container {
    position: absolute;
    top: 5px;
    right: 5px;
}

.steptools-assembly {
    float: left;
    width: 30%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    cursor: pointer;
}

.steptools-tree {
    font-size: 8px;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    overflow: auto;
    background-color: #222;
    opacity: .6;
    color: #fff;
    border-right: 1px solid #333;

    transition: opacity .2s;

    padding: 1ex;
}

.bright .steptools-tree {
    background-color: #666;
    color: #fff;
}

.steptools-tree:hover {
    opacity: 1;
}

.non-initialized .steptools-tree {
    display: none;
}

.compact .steptools-tree {
    display: none;
}

.steptools-downloads {
    font-size: 8px;
    border-top: 1px solid #555;
    border-left: 1px solid #555;
    opacity: .6;
    background-color: #222;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 270px;
    max-height: 20em;

    transition: opacity .4s, bottom .4s;
}

.steptools-downloads.out {
    bottom: -25px;
    opacity: 0;
}

.non-initialized .steptools-downloads {
    display: none;
}

.steptools-downloads:hover {
    opacity: 1;
}

.steptools-downloads h3 {
    font-size: 1em;
    margin: 5px;
}

.steptools-downloads .steptools-downloads-count {
    font-size: 1em;
    float: right;
}

.steptools-downloads > ul {
    list-style-type: none;
    list-style-image: none;
    margin-left: 5px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

.info-panel {
    z-index: 1;
    position: absolute;
    right: 32px;
    top: 32px;
}

.non-initialized .info-panel {
    display: none;
}

.compact .info-panel {
    top: 14px;
    right: 14px;
}

.steptools-compass {
    position: relative;
}

.compact .info-panel {
    transform:scale3d(.75, .75, .75);
    -ms-transform:scale3d(.75, .75, .75); /* IE 9 */
    -webkit-transform:scale3d(.75, .75, .75); /* Opera, Chrome, and Safari */
}

.non-initialized .steptools-compass {
    display: none;
}

.key-hints {
    padding: 16px 0 0 0;
}

.compact .key-hints {
    display: none;
}

.bright .key-hints {
    color: #999;
}

.key-label {
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    border: 1px solid white;
    border-radius: 3px;
}

.non-initialized .key-label {
    display: none;
}



body.non-initialized {
    background: black;
}
body.non-initialized::before,
body.non-initialized::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 64px;
    height: 64px;
    margin: auto;
}
body.non-initialized::before {
    background: url(images/busy-icon-cw.png);
    /*animation*/
    -webkit-animation: spinclockwise 1s linear infinite;
    -moz-animation: spinclockwise 1s linear infinite;
    -ms-animation: spinclockwise 1s linear infinite;
    -o-animation: spinclockwise 1s linear infinite;
    animation: spinclockwise 1s linear infinite;
}
body.non-initialized::after {
    background: url(images/busy-icon-ccw.png);
    /*animation*/
    -webkit-animation: spinclockwise 1.25s linear infinite reverse;
    -moz-animation: spinclockwise 1.25s linear infinite reverse;
    -ms-animation: spinclockwise 1.25s linear infinite reverse;
    -o-animation: spinclockwise 1.25s linear infinite reverse;
    animation: spinclockwise 1.25s linear infinite reverse;
}

#resizer {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: none;
    cursor: pointer;
}

#resizer>svg {
    opacity: .65;
    display: block;
}

#resizer:hover>svg {
    opacity: 1;
}

#resizer>svg polygon {
    fill: #fff;
}

.bright #resizer>svg polygon {
    fill: #000;
}


@-webkit-keyframes spinclockwise {
    from {-webkit-transform: rotateZ(0deg);}
    to {-webkit-transform: rotateZ(360deg);}
}
@-moz-keyframes spinclockwise {
    from {-moz-transform: rotateZ(0deg);}
    to {-moz-transform: rotateZ(360deg);}
}
@-ms-keyframes spinclockwise {
    from {-ms-transform: rotateZ(0deg);}
    to {-ms-transform: rotateZ(360deg);}
}
@-o-keyframes spinclockwise {
    from {-o-transform: rotateZ(0deg);}
    to {-o-transform: rotateZ(360deg);}
}
@keyframes spinclockwise {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
}
