.processingOverlay {
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    background: #fff url('/nf/dtiitdstdt/_ew_/images/pleasewait_bg.png') repeat;
    text-align: center;
    padding: 100px 0;
}

.processingOverlayContent {
    width: 570px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: #fff;
    border: 1px solid black;
    box-shadow: 0 1px 2px #333;
}

.processingOverlayContent h3 {
    color: #000;
    font-size: 1.2em;
}