html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/js/main.css')
        title!= title
    body.non-initialized(data-services='#{JSON.stringify(services)}', data-config='#{JSON.stringify(config)}')
        div.primary-view#primary-view
        script(src="#{source}")
