
.load-queue {
  font-size: 8px;
  border-top: 1px solid #555;
  border-left: 1px solid #555;
  opacity: .6;
  background-color: #222;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 270px;
  transition: opacity .4s, bottom .4s;

  .header {
    font-size: 12px;
    line-height: 16px;
    font-weight: lighter;
  }

  ul {
    list-style-type: none;

    li {
      font-size: 20pt;
    }
  }
}

.load-queue:hover ul {
  display: block;
}

.load-queue.out {
  bottom: -100%;
  opacity: 0;
}